*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    position:fixed;
    width:100%;
    background:#020617;
}

nav a{
    margin-left:15px;
    color:white;
    text-decoration:none;
    font-size:14px;
}

nav a:hover{
    color:#38bdf8;
}

/* HERO */
.hero{
    text-align:center;
    padding-top:140px;
}

.profile-img{
    width:140px;
    border-radius:50%;
    margin-bottom:20px;
}

.subtitle{
    margin-top:10px;
    color:#94a3b8;
}

.hero-buttons{
    margin-top:20px;
}

/* BUTTONS */
.btn{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin:5px;
    background:#38bdf8;
}

.btn.outline{
    background:transparent;
    border:1px solid #38bdf8;
    color:#38bdf8;
}

/* SECTION */
.section{
    padding:80px 20px;
    max-width:1000px;
    margin:auto;
}

.section-title{
    text-align:center;
    margin-bottom:30px;
}

/* SKILLS */
.skills-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.skill-card{
    background:#1e293b;
    padding:15px;
    margin:8px;
    border-radius:8px;
}

/* PROJECTS */
.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.project-card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-5px);
}

.project-links{
    margin-top:10px;
}

.project-links a{
    margin-right:10px;
    color:#38bdf8;
    font-size:14px;
}

.highlight{
    border:1px solid #38bdf8;
}

/* CONTACT */
.contact-form{
    max-width:400px;
    margin:auto;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:5px;
    border:none;
}

/* FOOTER */
.footer{
    text-align:center;
    padding:20px;
    color:#94a3b8;
}